/* @import url("https://fonts.googleapis.com/css?family=Rajdhani:300&display=swap"); */

@import url('https://fonts.googleapis.com/css?family=Niramit|Orbitron&display=swap');


body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../bgSC.png");
  background-position: 0px 0px;
  font-family: sans-serif;
  animation: animatedBackground 12s linear infinite;
  background-repeat: repeat;
  background-clip: padding-box;
  background-size: cover;

}


.glass {
  margin: 0 auto;
  height: 10vh;
  width: 105vw;

  border-style: groove;
  border-width: 4px;
  border-color: #444444;

  /* box-shadow: 0px 0px 20px 11px rgba(96, 221, 243, 0.123); */
  background-color: rgba(8, 8, 8, 0.719);
  /* background-color: black; */
  border-radius: 25px;
  display: flex;
  justify-content: center;
  text-align: justify;
  letter-spacing: normal;
}

.letterCont {
  margin-top: 1%;
  text-align: center;
  width: 100%;
}

.fancy {
  background-image: url(./teal.png);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 6.5rem;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  /* letter-spacing: 1rem; */
  margin: 0 auto;
  opacity: 0;
  line-height: 130px;
  width: 70%;
  text-align: justify;
  letter-spacing: 25px;
  /* animation-iteration-count: 2,0, infinite; */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;

}

.footer {
  width: 100%;
  height: 25%;
  background-color: transparent;
  bottom: 20%;
}

#logo1 {
  height: 25%;
  width: 25%;
  margin-left: 36%;
  margin-bottom: 5%;
}

.linky {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  background-image: url(./teal.png);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3.25rem;
  animation: animatedBackground 12s linear infinite;
  font-family: 'Orbitron', sans-serif;

}


.linky:hover {
  font-size: 3.5rem;
}

.foot {
  display: flex;
  justify-content: left;
}


@keyframes fadeIn {
  0% {
    visibility: 0;
    filter: blur(20px);
  }

  50% {
    opacity: 100;
    filter: blur(0px);
  }

  100% {
    opacity: 0;
    filter: blur(15px);
  }
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  }
}

/* 
@keyframes scrollGood {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-320px, 0, 0);
  }
} */